*{
    margin: 0 ;
    padding: 0; 
}
html{
    scroll-behavior: smooth;/*Ajoute un effet au scroll vers les a*/
}
/*********************header*********************/
header{
    height: 100vh ; /*Toute la hauteur de l'écran /
     vh= viewport height*/
    /*****************
    display: flex;   => non nécessaire, s'empilent
    align-items: center;
    text-align: center;
    *****************/
    background: url("../img/montagne.jpg") center bottom fixed;   
    background-size: cover;
}
header nav{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}
header nav ul{
    height: 50px; /*hauteur de la UL*/
    display: flex; /*permettre aux enfants d'être les un coté 
    des autres*/
    justify-content: flex-end; /*répartition sur la largeur*/
    align-items: center;/*Permet la répartition sur la hauteur*/
    list-style: none; /*enlève les puces*/
}
header nav ul li{
    margin: 0 20px;
}
header nav ul li a{
    text-decoration: none; /*enlève le soulignement*/
    color: white;/*change la couleur du texte*/
    font-family: Arial, helvetica, sans-serif; /*change la 
    famille de typo*/
    font-weight: bold;/*change la graisse de la typo*/
    text-transform: uppercase;/*Passe te texte en majuscule*/
}
header nav ul li a:hover{
    border: 2px solid white;
    opacity: 0.5;/**/
    color: black;
}
header div{
    height:calc(100vh - 50px); /*Pour que la div occupe le reste 
    de l'écran, on retire les 50px de la nav au 100 vh (hauteur 
    complète de l'écran)*/
    display: flex;
    justify-content:center;
    align-items:center;
}
/*************************FIN DE HEADER******************************/
/*Style pour les deux sections*/
/*Style pour section 1*/
section{
    padding: 100px 0; /*ajoute du rembourage à la section*/
}
section h2{
    text-align: center;/*permet de centrer le texte*/
    text-transform:capitalize; /*Une majuscule à tous les titres*/
}
section>div{ /*sélection de la div de premier niveau*/
    display:flex; /*permet aux div enfants de se mettre 
    les uns à coté des autres*/
    justify-content: center;/*permet de centrer la div enfant*/
    transition: 0.5s;
}
section>div div{ /*selectionne les div enfants des div de 1er 
    niveau*/
    width: 150px;
    height: 150px;
    background: teal;
    margin: 50px;
}
section>div div:hover{
    background: lightblue;
}
/*Style pour section 2*/
section:nth-of-type(2){
    background: teal;
}
section:nth-of-type(2)>div div{
    background: white;
}
section:nth-of-type(2)>div div:hover{
    background: gray;
}
/*************************FIN DE section******************************/
/*************************FOOTER******************************/
footer{
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #333;
}
footer p{
    color: white;
}